# For pnpm.
# true: dependencies will be installed in node_modules root path.
# false: dependencies will be installed in node_modules/.pnpm and add links in node_modules.
# default: false.
shamefully-hoist=true

# For pnpm.
# If you don't want pnpm to fail on peer dependency issues, add "strict-peer-dependencies=false" to an .npmrc file at the root of your project.
strict-peer-dependencies=false

# China mirror of npm
registry=https://registry.npmmirror.com/


# Windows Only: Don't install anything into C:\ PLEASE!!!!!
# PS: install Node.js firstly.
cache=D:\NodeJS\npm_cache
prefix=D:\NodeJS\npm_global

# pnpm
global-bin-dir=D:\.pnpm-store
cache-dir=D:\.pnpm-store\cache
state-dir=D:\.pnpm-store\state
global-dir=D:\.pnpm-store\global

##############  End of Windows Only ##################